<h1><%= Const::STR_MSG_NEW_COMPANY_CREATION %></h1>

<%= form_for(@company) do |f| %>
  <%= render Const::STR_URL_FIELDS, :f => f %>
  <%= render Const::STR_URL_FORM_SUBMIT, :f => f,
             :caption => Const::STR_ACTION_CREATE %>
<% end %>

