<tr>
  <td><%= link_to business_unit.name, business_unit, :target => "_blank" %></td>
  <td><%= business_unit.descr %></td>
  <%#= render 'business_unit/admin_actions', :params => { :employee => employee } %>
</tr>