<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= @role.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong><%= Const::STR_LABEL_DESCRIPTION %></strong> <br />
      <%= @role.descr %> <br />
    </td>
  </tr>
  <tr>
     <%= render Const::STR_URL_PRIV_ACTIONS, :params => { :role => @role } %>
  </tr>

</table>

<%#= render Const::STR_URL_ROLED_USER_LIST %>
