<footer>
  <nav class="round">
    <ul>
      <li><%= link_to Const::STR_ACTION_ABOUT, about_path %></li>
      <li><%= link_to Const::STR_ACTION_CONTACT_LIST, contact_info_path %></li>
    </ul>
  </nav>
</footer>